FinalProject/xsd/Products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="products" type="products"/>
  <xs:complexType name="product">
    <xs:all>
      <xs:element type="xs:int" name="id"/>
      <xs:element type="xs:string" name="name"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="products">
    <xs:sequence>
      <xs:element type="product" name="product" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>