FinalProject/xsd/SellersProducts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sellers_products" type="sellers_products"/>
  <xs:complexType name="sellers_product">
    <xs:all>
      <xs:element type="xs:int" name="seller_id"/>
      <xs:element type="xs:int" name="product_id"/>
      <xs:element type="xs:double" name="price"/>
      <xs:element type="xs:int" name="quantity"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="sellers_products">
    <xs:sequence>
      <xs:element type="sellers_product" name="sellers_product" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>